services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=payment_db'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_PASSWORD=secret'
    ports:
      - '5432:5432'

  redis:
    image: 'redis:alpine'
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass secret
    volumes:
      - redis-data:/data

volumes:
  redis-data:
    driver: local